form.signup-form {
  /* background-color: linear-gradient(350deg, rgba(52,68,188,1) 34%, rgba(63,167,255,1) 100%); */
  background: white;
  height:100vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  row-gap: 10px;
  
}


.signup-input{
  /* border-radius: 50px; */
    width: 18rem;
    text-indent: 6rem;
    background-color: transparent;
    color: black;
    text-indent: 4rem;
    outline: none;
  
}
 


  
.signup-input::placeholder{
  color: black;
}

.signup-input:hover::placeholder{
  color: white ;

} 
   .signup-input:hover   {
  background-color: black;
  color: white;
}


.singup-submit{
  width: 18rem;
  padding: 10px;
  /* border-radius: 50px; */
  background-color: black;
  border: 1px solid black;
 color: white;
}


.signup-name{
  position: relative;
}

.signup-user-icon{
  position: absolute;
  left: 1rem;
  top: 1.5rem;
  color: black;
}


.signup-email{
  position: relative;
}

.signup-email-icon{
  position: absolute;
  left: 1rem;
  top: 1.5rem;
  color: black;
}



.signup-number{
  position: relative;
}

.signup-number-icon{
  position: absolute;
  left: 1rem;
  top: 1.5rem;
  color: black;
}

.signup-password{
  position: relative;
}

.signup-password-icon{
  position: absolute;
  left: 1rem;
  top: 1.5rem;
  color: black;
}



 .signup-input {
 width: 18rem;
  padding: 12px;
  font-size: 1rem;
  margin: 10px 0;

  
  border: 1px solid black;
}




.signup-password:hover .signup-password-icon  {
  color: white ;
}

.signup-email:hover .signup-email-icon   {
  color: white ;
}

.signup-name:hover .signup-user-icon   {
  color: white !important;
}

.signup-number:hover .signup-number-icon   {
  color: white;
}