
.blog-card {
  width: 100%;
  padding: 10px;
  border: 1px solid #e7e7e7;

}
.blog-card img{
   height: 15rem;
    width: 100%;
    margin-bottom: 20px;
    object-fit: cover;
}
.blog-card h1{
    font-size: 1.5rem;
    height: 65px;
    align-content: center;
    text-align: center;
   
    
}
.blog-card a {
  text-decoration: none;
  color: black;
}

p{
    margin: 0px !important;
  }
 

  .blog-content{
  
    height: 8rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;
  }
  .like , .dislike{
    border: none;
    background-color: transparent;
    font-size: 1rem;
    color: blACK;
  }

  .card-buttons{
    display: flex;
        gap: 1rem;
        align-items: center;
        width: 100%;
        justify-content: space-between;
        align-items: center;

  }
  .card-heading{
    display: flex;
    align-items: left;
    height: 4rem;
    justify-content: start;
    font-weight: 800;
    width: 100%;
    text-align: start;
 
  }

  .wish-btn{
    /* padding: 3px 9px; */
  color: #3c8bec;

    text-decoration: none;
    border-radius: 5px;
  }

   .additem{
    width: 100%;
    border: none;
    color: white;
    background-color: #98b880;
  }
  .blog-card,.blog-card img {
    border-radius:10px;
}
.blog-card{
    box-shadow: 0px 10px 32px -20px rgba(0,0,0,0.75);
}
.card-heading{
  font-family: "Montserrat", serif;
}
.additem{
    text-transform:capitalize;
    padding:10px;
    border-radius:10px;
    background: rgb(52,68,188);
background: linear-gradient(350deg, rgba(52,68,188,1) 34%, rgba(63,167,255,1) 100%);
}
.main-text{
  font-family: "Montserrat", serif;
  font-weight: 600;
  font-size: 60px;
  margin-top: 40px;
  text-transform: uppercase;
  z-index: 10 !important;
  
}


/* Lowe Nav */

.form-select{
  
  width:10% !important ;
    text-decoration:none;
    color:#82868b;
    font-size:18px;
    text-align: center;
    font-weight:600;
}

.form-select:hover{
  color: black;
}

 .account-logo svg{
  font-size: 35px;
}
.blog-main-section{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 8px;
}
.nav-inner{
  background: #3c8bec12;
  padding: 15px 18px;
  border-radius: 10px;
  border: 1px solid #dad7d7;
}

.page-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 15px;
  margin: 1rem;
  list-style: none;
  width: 6%;
    flex-direction: row;
}
.page-number{
  background-color: #454545;
  color: white;
  padding: 2px 20px
}

.latest-blog{
  margin-top: 2.6rem;
}

.page-link{
  border: 1px solid #d6d6d6;
  padding:  2px 15px;
}

.next-button a ,.previous-button a{
  text-decoration: none !important;
  color: #454545!important ;
  border: 1px solid #d6d6d6;
  font-size: larger;
  padding: 2px 10px;
}


.pagination_div{
  display: flex;
  justify-content: center;
}

button.like-home {
  background-color:transparent;
  border:none;
  padding:10px 0px
}


.blog-card:hover{
  transform: scale(1.02)  ;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.147);
  transition: transform 0.5s  ease-in-out;

}



.nav-active{
  color: black !important ;
}
 





@media screen and (max-width:1200px) {
  .blog-main-section{
    display: grid;
    grid-template-columns:  1fr 1fr 1fr;
    gap: 40px;

  }
}

@media screen and ( max-width:1024px ){
  
  .blog-main-section{
    display: grid;
    grid-template-columns:  1fr 1fr;
    gap: 40px;

  }

  .page-btn {
     
    width: 10%;
    
}

}


@media screen and ( max-width:768px ){
  
  .blog-main-section{
    display: grid;
    grid-template-columns:   1fr;
    gap: 40px;
  }
 


    .page-btn {
     
      width: 22%;
      
  }

}


@media screen and ( max-width:768px ){

  .blog-card img {

    height:20rem  !important;
  }

  .card-buttons{
    height: 5rem;
  }
}


@media screen and ( max-width:575px ){

  .blog-card img {

    height:15rem  !important;
  }

  .account-logo{
    width: 100%;
  }

  .card-buttons{
    height: 3rem;
  }
}

@media screen and (max-width:400px) {

  .addblog {
    
    padding: 7px 7px !important ;}
  
}


@media screen and (max-width:340px) {

  .addblog {
    
    padding: 7px 3px !important;
  
     font-size: 15px;}
  
}



/* this is a nav bar css */

.col-md-4.nav-social-icon {
  font-size:1.5rem;
  display : flex;
  gap:1.5rem;
  align-items:center;
}

.col-md-4.nav-heading {
  text-align:center;
}

.col-md-4.nav-account-whislist {
  display:flex;
  align-items:center;
  gap:1.5rem;
  justify-content:end;
  font-size:2rem;
}
.nav-heading-inner{
  border-bottom: 2px solid #ececec;
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.nav-inner-com a {

  text-decoration:none;
  color:#82868b;
  font-size:18px;
  text-align: center;
}
.nav-inner-com.row {
  display:flex;
 
  padding-bottom: 2rem;
  
  font-weight:600;
  border-bottom: 2px solid rgb(101, 101, 101);
  
}


.nav-inner-com a:hover {
   color: black;
}


.col-md-4.nav-account-whislist a{
  color:black;
}

/* new home page desing */

.cards img{
  width: 100%;
  height: 12rem;
  object-fit: cover;
  position: relative;
}

.inner-card a {
  color: black;
  text-decoration: none;
}

.card-detail {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 20px;
  font-weight: 700;
  position: relative;
  bottom: 0px;
}

.card-content{
  padding-top: 1rem;
}
.blog-inner-container {
  display:flex;
  flex-wrap:wrap
}
.cards{
  padding: 2rem;
  height: 26.6rem;;
}


.latest-blog {
  position: sticky;
  top: 0; /* Adjust as needed */
  z-index: 10;
  background: white; /* Ensures visibility if overlapping occurs */
  height: 50rem;
  /* background-color: red; */
  z-index: 200;
}



.latest-cards{
  padding:1rem;
}

.latest-inner-card  a {
  display:flex;
  width:100%;
  /* height:4rem; */
  gap:1rem;
  color: black;
  text-decoration: none;
  
  }
.latest-inner-card img{
  width:5rem;
  height:4rem;
  object-fit:cover;
}

.latest-card-heading p {
  font-weight:700
}


.bookmark-icon{
  position: absolute;
  z-index: 2;
  font-size: xx-large;
  color: white;
  margin: 1rem;
  margin-top: 0rem;
}






/* serach of css */


.show-serach {

  display: flex;

  background-color:black;
  height:0rem;
  padding : 30px;
padding-top: 6rem;
  display: none;
  transition: all 2s ease ;

}


 
   .active-serach{  
  display: block;
  height: 15rem;


    
}


input.serach-input {
  
  width:95%;
  border:none;
  border-bottom: 2px solid #a0a0a0;
  outline:none;
  background-color:black;
  color:white;
  height: 4rem;
}



input.serach-input::placeholder {
   
  color: rgb(195, 194, 194);
  font-size: 2rem;
}


button.serach-btn {
  background:white;
  color:black;

}

svg#search {
  /* margin-left:14rem; */
  font-size:2rem
                
     }




     .nav-bars {
      width:3rem;
      border:none;
      /* background:transparent; */
      font-size:2rem;
      padding:0rem;}




      .nav-inner-com{
          margin-top:2rem;
      }

      .col-md-4.nav-account-whislist {
        /* display:block; */
    }


      @media screen and (max-width:992px) {
        .blog-inner-container {
          display:flex;
          flex-wrap:wrap
        }
        .cards{
          padding: 1rem;
          height: 26.6rem;;
        } 
        .like-home{
          display: flex;
          align-items: center
;
    
        }


      }



      @media screen and (max-width:768px) {
        .cards img {
          width: 100%;
          height: 14rem;
          object-fit: cover;
          position: relative;
      }
      .cards{
        width: 100%;
      }

     .nav-com-smaller{
      display: none;
     }

     .col-md-4.nav-account-whislist {
      display:none;
  }

  .col-md-4.nav-heading {
    display:flex;
    flex-direction:column;
    margin-top: 2rem;
}


.col-md-4.nav-social-icon {
  display:flex;
  justify-content:center;
  
}
  
      }


      @media screen and (max-width:600) {
        .cards img {
          width: 100%;
          height: 20rem;
        }


        .cards img {
          width: 100%;
          height: 14rem;
          object-fit: cover;
          position: relative;
      }
      }


      @media screen and (max-width:400px) {
         .cards-heading p{
          font-size: 17px;
         }

         .card-detail p{
                    font-size: 17px;
         }
      }