body {
  margin: 0;
  font-family: "Outfit", "Helvetica Neue", sans-serif;
  background: #f3efe6;
  color: #1c1914;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
