

.blog-card {
  width: 100%;
  padding: 10px;
  border: 1px solid #e7e7e7;

}

.blog-card img{
   height: 12rem;
    width: 100%;
    margin-bottom: 20px;
    object-fit: cover;
}
.blog-card h1{
    font-size: 1.5rem;
    height: 65px;
    align-content: center;
    text-align: left;
   
    
}

.profile-details{
  color: #fff;
}
.blog-card a {
  text-decoration: none;
  color: black;
}

p{
    margin: 0px !important;
  }
 

  .blog-content{
  
    height: 8rem;
    display: flex
;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;
  }
  .like , .dislike{
    border: none;
    background-color: transparent;
    font-size: 1rem;
    color: blACK;
  }

  .card-buttons{
    display: flex
    ;
        gap: 1rem;
        align-items: center;
        width: 100%;
        justify-content: space-between;
        align-items: center;

  }
  .card-heading {
    display: flex;
    align-items: start;
    /* height: 4rem; */
    justify-content: left;
    font-weight: 600;
    width: 100%;
    font-size: 20px;
    text-align: left;
}

  .card-buttons .additem{
    border: none;
    color: white;
    background-color: #98b880;
  }




  /* Profile photo container */
.profile-main{
    display: flex;
    justify-content: start;
    align-items: center;
    /* margin: -123px 0 40px 70px; */
}
  
  .profile-pic-container {
    position: relative;
    width: 100%; /* Size of the profile picture */
    height: 100%;
    border-radius: 50%; /* To make it round */
    /* overflow: hidden; */
    border: 4px solid #fff; /* White border */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Optional shadow for better visual effect */

display: flex;
justify-content: center;
align-items: center;
    
  }
  

  
  .profilepic {
    display: none; /* Hide the file input */
  }
  
  .upload-icon {
    position: absolute;
    bottom: 25px;
    right: 35px;
    padding: 4px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 22px;
    scale: 1
  }
  
  
  
  .upload-icon i {
    font-size: 20px !important ;
  }


  .profile-pic{

      width: 100%;
      height: 100%;
      border-radius: 50%;
      object-fit: cover;
  }
  .account-main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 8px;
  }
  .profile-cover{
    margin-top: 40px;
  }
  .profile-cover img {
    border-radius: 20px;
    max-height: 286px;
    background-size: cover;
    width: 100%;

}
.addblog{
  
    color: #000;
    border: 0;
    border-radius: 30px;
    padding: 7px 30px;
    text-transform: capitalize;
    font-weight: 600;
    
    font-family: "Montserrat", serif;

}
.post{
  font-size: 20px;
    font-weight: 600;
}



@media screen and (max-width:1200px) {
  .account-main{
    display: grid;
    grid-template-columns:  1fr 1fr 1fr;
    gap: 40px;

  }
}


@media screen and ( max-width:1024px ){
  
  .account-main{
    display: grid;
    grid-template-columns:  1fr 1fr;
    gap: 40px;

  }

  .page-btn {
     
    width: 10%;
    
}

}


@media screen and ( max-width:768px ){
  
  .account-main{
    display: grid;
    grid-template-columns:   1fr;
    gap: 40px;
  }
 

    

    .page-btn {
      width: 22%;
      
  }

}


@media screen and ( max-width:768px ){

  .blog-card img {

    height:20rem  !important;
  }

  .card-buttons{
    height: 5rem;
  }
  .profile-main {
    display: flex;
  
    justify-content: start;
    align-items: center;
    margin: -123px 0 40px 0px;
    flex-direction: column;
}


.profile-details{
  color: #000;
}

.addblog{
  padding: 7px 17px;
}
}


@media screen and ( max-width:575px ){

  .blog-card img {

    height:15rem  !important;
  }

  .account-logo{
    width: 100%;
  }

  .card-buttons{
    height: 3rem;
  }

  
}




/*  account new css over here */


.photo {
  height:350px;
  width:400px;
  background-color:white;
  border-radius: 0px 50% 50%  0px;
  padding: 10px;
  
 
  
  

  z-index: 1;
  

  
}

.profile-main {
        /* background: linear-gradient(350deg, rgba(52,68,188,1) 34%, rgba(63,167,255,1) 100%); */
         background-color: black;
            margin-bottom: 50px;
            margin-top: 20px;
}

.profilr-detail-container {
 
  width: 80%;
  display:flex;
  flex-direction:column;
  gap:3.5rem;
  align-items:center;
  height:350px;
  
  
  
}

.account-heading {
  width:100%;
  height:70px;
  background-color:#ffffff;
  box-shadow: -200px 0px 0px white;
  align-content: center;
}


.acc-heading{
  font-family: "Montserrat", serif;
  font-weight: 600;
  font-size: 40px;
 margin-right: 2rem;
  text-transform: uppercase;
  text-align: end;
  align-content: center;
}

.profile-details{
  display: flex;
    flex-direction: column;
    gap: 2rem;
}
.post{
  font-size: 20px;
    font-weight: 600;
    display: flex;
    color: white ;
    justify-content: center;
}
.username {
  display:flex;
justify-content: center;
  
   
    width: 12rem;
  
}
.post{
 
  
    width: 12rem;
}
.add-blog-btn{
  
  height: 2rem;
  
}

.profilr-container {
  width:100%;
  /* background-color:red; */
  display:flex;
 
  
}

.inner-profile-main{
  width: 10rem;
  height:350px;
  background-color: white !important;
}




/* latest desing account */
button.delete-card {
  width:100%;
  background:black;
  color:white
}



@media screen and (max-width:1200px) {
    
  .photo{
    width: 461px;
  }  
}
@media screen and (max-width:992px) {
  .photo{
    width: 546px ;
  }
}

@media screen and (max-width:768px) {
  
  .profilr-detail-container {
 
    width: 52%;
  height: 228px;
  gap: 0rem;
  }

    .photo {
      height:228px;
      width:250px;  
      display: flex;
      align-items: center;
      padding: 0px;
    }


    .profile-main{
      flex-direction: row;
    }



    .profile-pic-container {
      
      width: 100%; /* Size of the profile picture */
      height: 100%;
     }

     .profile-details{
      gap: 1rem;
      /* margin-top: 3rem; */
     }
     .username-account{
      color: white;
     }

}


@media screen and (max-width:500px) {
  .profile-main{
    flex-direction: column;
  }


  .account-heading{
    display: none;
  }
  .photo{
    border-radius: 0%;
    background-color: black;
  }
  .profilr-container{
    justify-content: center;
    align-items: center;
  }

  .add-blog-btn{
  
    height: 2.5rem;
    
  }

  .profilr-detail-container {
 
    width: 50%;
  height: auto;
  gap: 0rem;
  }
  .profile-main{
   padding: 3rem 0px;
  }
  .photo{
    width: 250px;
   }

}

